<!DOCTYPE html>
<html>
  <head>
    <title>Major Match: Login</title>
  </head>
  <body style="font-family: Georgia Italic; background-color: pink">
  <p style="color: red; font-size: 40px">
      Major Match
  </p>
  <p style="color: red; font-size: 30px">
      A Rose-Hulman Project
  </p>
  <p style="color: black; font-size: 18px">
      Please Enter a Valid Username and Password
  </p>
  <form action = "/Authenticate" method = "POST">
      UserID:<br>
      <input type="text" name="Email"><br>
      Password:<br>
      <input type="password" name="Password"><br>
      <input id="login" type="submit" value = "log in"/>
  </form>
  <form action="/Registration" method = "POST">
      <input id = "Sign Up Buttone" type = "submit" value = "Register Now">
  </form>>

  <img src="http://www.albinoblacksheep.com/flash/960/geeks.jpg" width = 600/>

  </body>
</html>

